# Python
Lib
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
*.log
*.pot
Scripts/
Include/
Scripts/
Lib/
share
==IGNORE==



# Tkinter/Streamlit project
downloads/
*.exe
*.log

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
